# General
.DS_Store
Thumbs.db
*.log

# Environment variables
.env
.env.local

# Node.js
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo
